/* App.css */

/* Resetting margin and padding for the entire page */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Ensuring the 'app' div takes full height of the viewport */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height of the viewport */
}

/* Styling the content area to fill the remaining space */
.content {
  flex-grow: 1;
  padding: 20px; /* Adjust as needed */
}

/* Styling for the footer */
.footer {
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.app .navbar{
  background-color: white;
  color: #fd0860;
}

.app .navbar .link{
  margin: auto 10px;
  color: #fd0860;
  text-decoration: none;
}

.link:hover {
  background-color: initial !important;
  color: initial !important;
  text-decoration: initial !important;
}

.title {
  position: relative;
  display: inline-block;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust this value to control the distance from the text */
  left: 10%; /* Adjust this value to control the starting point of the underline */
  width: 80%; /* Width of the underline relative to the text */
  height: 3px; /* Height/thickness of the underline */
  background-color: #fd0860; /* Color of the underline */
}

.grid .btn, .btncontainer .btn {
  border-radius: 10px;
  border: 2px solid black;
  background-color:#ff5895;
  text-decoration: none;
  color: black;
  padding: 5px 30px;
  margin: 10px 20px;
}

.grid .btn:hover, .btncontainer .btn:hover {
  background-color: black;
  color: white;
}

Link{
  text-decoration: none;
}
